.carousel-inner {
    width: 80%;
    margin: 0 auto;
}

.fp_left {
    width: 50%;
    float: left;
}

.fp_right{
    width: 50%;
    float: right;
    padding: 2em;
    position: absolute;
    right: 0;
    height: 100%;
}

.fp_right p {
    position: absolute;
    bottom: 1em;
    padding: 1em;
    width: 95%;
    left: 2.5%;
}

.carousel-control-prev .et-pb-icon,
.carousel-control-next .et-pb-icon  {
    color: #333;
    font-size: 33px;
}

.color1 {
    background-color: #fcba00;
}

.color2 {
    background-color: #fe6101;
}

.color3 {
    background-color: #77d5cc;
}

.pack_number {
    display: inline-block;
    padding: 0.2em .9em;
    text-align: center;
    border: 2px solid #fff;
    border-radius: 100%;
    font-size: 14px;
    margin-bottom: .7em;
}


@media screen and (max-width:550px) { 
    .carousel {
        display: none;
    }
 }